extends layout/layout

block vars
    - var pageTitle = 'Главная страница'
    - var pageBodyClass = 'homepage'
    - var pageHeaderClass = ''

block content
    form.form(action="#")
        mixin fieldgroup(text)
            .fieldgroup-wrap
                label.fieldgroup
                    input(type="radio" name="name1").radio
                    span.fieldgroup__text=text
        +fieldgroup('Input 1')
        +fieldgroup('Input 2')
        +fieldgroup('Input 3')

        
